body{
    background-image: linear-gradient(#ff00e1 0%, #0c035f  100%);
    background-size: cover;
}

#family_members{
    font-size: 24px;
    color: aliceblue;
    font-family: 'Grape Nuts', cursive;

}

#Member,#Accuracy{
   color: aliceblue;
}

#heading1{
    font-family: 'Bebas Neue', cursive;
}